@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Poppins", sans-serif;
  background-color: beige;
}

.home {
  min-height: 50vh;
  padding: 5rem 0;
}

.hello-hand {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}

.hello-hand:hover {
  transform: rotate(90deg);
}

.icons {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0;
  transition: gap 0.4s ease;
}

.icon {
  width: 31px;
  border-radius: 50%;
  transition: transform 0.4s ease, margin 0.4s ease;
}

.icon-first,
.icon-second {
  margin-left: -15px;
}

.icons:hover {
  gap: 6px;
}

.icons:hover .icon {
  margin-left: 0;
  transform: scale(1.05);
}

.experience {
  min-height: 30vh;
  padding: 2rem 0;
}

.navbar {
  background-color: beige;
  border-bottom: 1px solid black;
}

.home-image {
  border: 1px solid var(--bs-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 340px;
}

.profile-pic {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}

.hello-tag {
  width: fit-content;
  border: 1px solid rgb(102, 121, 175);
  border-radius: 100px;
  padding: 4px 12px;
}

.btn {
  padding: 12px 24px;
}

.btn-primary {
  margin-right: 6px;
}

.badge-star {
  width: 31px;
}

.text-about {
  width: 100%;
  max-width: 680px;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: start;
}

.periodo {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 100px;
  border: 1px solid orange;
  background-color: rgba(255, 166, 0, 0.256);
  margin-right: 12px;
}

.area {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 100px;
  border: 1px solid rgb(115, 192, 0);
  background-color: rgba(172, 255, 47, 0.279);
}

@media (min-width: 992px) {
  .home {
    min-height: 80vh;
  }
}
